@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/geist-mono.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Geist Mono", monospace, system-ui;

  --animate-shine: shine 1s linear infinite;

  @keyframes shine {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
