---

---

<section class="flex flex-col gap-y-4">
  <h2 class="text-xl font-medium">My Posts</h2>
  <article
    class="relative flex items-center justify-center rounded-md border-[1px] border-neutral-300 px-3 py-4 shadow-sm dark:border-neutral-800"
  >
    <p class="text-sm">I'm working on it... ✍️</p>
  </article>
</section>
