---
import MainLayout from "@/layouts/MainLayout.astro";
import Bio from "@/components/sections/Bio.astro";
import FeaturedProjects from "@/components/sections/FeaturedProjects.astro";
import Experience from "@/components/sections/Experience.astro";
import Posts from "@/components/sections/Posts.astro";
---

<MainLayout title="Brandon Hernández | Blog">
  <div class="grid items-center gap-14 py-4 md:py-4">
    <Bio />
    <FeaturedProjects />
    <Experience />
    <Posts />
  </div>
</MainLayout>
