---

---

<footer
  class="mx-auto mt-10 flex w-full max-w-4xl flex-col items-center gap-y-4 px-8 py-4 sm:flex-row md:items-center md:justify-between md:gap-x-4"
>
  <div class="flex flex-col justify-center text-center text-sm text-pretty italic sm:text-left lg:w-2/3">
    <blockquote>
      <p>Encierrate y estudia hasta que colapses, el más grande brillo viene de la obsesión.</p>
    </blockquote>
    <p>— Isaac Newton</p>
  </div>

  <div class="max-w-max text-sm text-nowrap">
    <p>Brandon Hernández - {new Date().getFullYear()}</p>
  </div>
</footer>
