---
import { buttonVariants } from "@/components/ui/Button.astro";
import type { Link } from "@/types/link";

const { url, icon: Icon, name } = Astro.props as Link;
---

<a
  title={name}
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class={buttonVariants({
    variant: "ghost",
    size: "icon",
    class: "opacity-80 transition-opacity duration-150 hover:opacity-100",
  })}
>
  <Icon class="size-5" color="currentColor" />
</a>
